---
const { href, target = '_blank' } = Astro.props;
---

<a
  href={href}
  target={target}
  class="bg-gray-200 hover:bg-gray-300 dark:bg-slate-900 dark:hover:bg-slate-800 p-1 rounded-md"
>
  <slot />
</a>
